nav,
.btn {
    background-color: #4C4C6D;
}

.card-body,
body,
.accordion-item,
footer {
    color: rgb(163, 209, 211);
    background-image: linear-gradient(to bottom right, #433751, #2F576E, #748B9C);
}

.bi:hover {
    color: rgb(163, 209, 211);
}