nav,
.btn {
  background-color: rgb(49, 49, 49);
}

body,
.accordion-item {
  color: rgb(243, 243, 243);
  background-image: linear-gradient(to bottom right, #272727, #3f3f3f, #707070);
}

.bi:hover {
  color: rgb(243, 243, 243);
}
