nav,
.btn {
  background-color: rgb(66, 66, 66);
}

body,
.accordion-item {
  color: rgb(49, 49, 49);
  background-image: linear-gradient(to bottom right, #5a6160, #afb1b0, #d9e2ce);
}

.bi:hover {
  color: rgb(49, 49, 49);
}
